


<head>
<title>将棋GUIアプリ「将棋所」とpythonを結びつける(mac)</title>
    <meta name="keywords" content="Python,将棋所,mac">
    {% block meta %}
    <meta name="twitter:card" content="summary_large_image" /> <!--①-->
    <meta name="twitter:site" content="@matuki_no_ukiwa" /> <!--②-->
    <meta property="og:url" content="http://www.minekawada.com/python-middle-level.html" /> <!--③-->
    <meta property="og:title" content="将棋GUIアプリ「将棋所」とpythonを結びつける(mac)" /> <!--④-->
    <meta property="og:description" content="そこで今回は「将棋所」というGUIアプリとpythonを繋げてCUIを卒業しましょう" /> <!--⑤-->
    <meta property="og:image" content="http://www.minekawada.com/static/Real/python_18894.png" /> <!--⑥-->
    {% endblock %}
</head>



<div id="content">
  <h1>
    pythonでの将棋AI作成環境をmacに作る
  </h1>
  <p>
    ディープラーニングライブラリのkerasと<br>
    将棋をシュミレーションすることができるpythonshogi<br>
    この二つを同時にインストールして、将棋AI作成環境をmacに作ってしまう企画<br>

    <h2>目次</h2>
    <ol>
        <li>
            <a href="#keras">kerasのmacへのインストール</a>
        </li>
        <li>
          <a href="#pythonshogi">pythonshogiのmacへのインストール</a>
        </li>
    </ol>
  
    


  　<p>
    <iframe   style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=minekawadaaff-22&m=amazon&o=9&p=8&l=as1&IS1=1&detail=1&asins=4839965412&linkId=4946f0a6ba152f768daf9824dea7989f&bc1=ffffff&lt1=_top&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
    </iframe>
  </p>
  <p>
    参考文献<br>
    将棋AIといえばこれ<br>
    GPUを使っていることに注意。<br>
    GPUがなくても序盤AIを作るぐらいなら、スペックは問題ありません<br>
    
  </p>
  <br>
  <p>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=minekawadaaff-22&m=amazon&o=9&p=8&l=as1&IS1=1&detail=1&asins=4873117585&linkId=fde7bd6a363207ebc528f2cdc3bdfd53&bc1=ffffff&lt1=_top&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
    </iframe>
  </p>

  <p>
    参考文献その２<br>
    Deep Learningといえばこれな本<br>
    序盤AIを作るためにどういう原理で作るのか知りたい人向け<br>

  </p>

  <br>



  <h1 id="keras"> kerasのmacへのインストール</h1>

    <p>

      pythonはインストールしてある前提で、<br>
      まずは、<br>
      pip3 install keras<br>
      または<br>
      python3 -m pip install keras<br>
      このコマンドでKerasのインストール！<br>
      このコマンドは少し時間がかかります。
      <br>
      このkerasはDeep Learningのためのライブラリ！
      <br>序盤AIのネットワークとかを直感的に作ることができる！

    <br>
    <br>
    以下はKerasを使ったコードの核の一部
      <br>
      {% load static %}
      <img src="{% static 'program/LayerCode.png' %}"  width="500"  alt="イラスト1">
      <br>
      同じような行が重なっているように見えますが、<br>
      これはニューラルネットワークのレイヤーの重なりをあわらしています<br>

      <br>
      <br>
      <br>


      <h1 id="pythonshogi"><br>pythonshogiのmacへのインストール</h1>


      次は将棋の盤面を動かし、シュミレーションを行うためのライブラリーを用意しましょう！<br>
      <a href="https://github.com/gunyarakun/python-shogi.git">python-shogiライブラリー</a>
      <br>
      上のurl内のshogiフォルダーを同じディレクトリーにおいてください！
      <br>
      <br>
      gitをインストールしている人は<br>
      git clone https://github.com/gunyarakun/python-shogi.git<br>
      でおけ！<br>
      <br>上のライブラリーは将棋をpython上で動かせるライブラリーです！<br>
      将棋のルールなどに忠実で、歩は当然前にしか進めないですし、持ち駒などのルールにも対応してます。
      <br>
      さらにすごいのは、玉が詰んでいるかどうかなどの判定や、ターンプレイヤーの全ての選択肢を教えてくれます。<br>


      (作った人まじですごい。もう天才。)<br>

      <br>一旦ここまでで動くかどうかを確認しましょう！<br>
      <br>以下のコードをshogiがある階層において動かしてみてください！

      <br>
      <br>
      <br>
      <script src="https://gist.github.com/MineOwl/498ca07c01ad7c1e82eebff3d74ec26c.js"></script>


  <br>
  <br>
  <br>
  おめでとう！これで序盤AIを作成する第一歩を踏み出した！
  <br>
  <br>

      <div id="content">
        <h1>
          将棋GUIアプリ「将棋所」とpythonを結びつける in mac
        </h1>

        <img src="{% static 'program/page6/スクリーンショット 2020-01-10 21.44.14.png'%}"width="100%">
            

        <p>
          CUIだけで動くアプリってあんまりまともなやつないですよね<br>
          確かに白黒の文字列だけのコンソールをカタカタ動かせたらハッカーっぽくて（クラッカーっぽくて）<br>
          かっかいいですが一般の人からするとなんのこっちゃわからなくて恐怖の対象だと思うのです。<br>
          <img src="{% static 'program/page6/スクリーンショット 2020-01-09 21.40.16.png'%}"width="100%">
          <br>（僕はコンソールが怖いのでフクロウのAAを.bashrcに貼り付けてます)<br>
        
          <br>
          <a href="/python-shogi-setup.html">前回</a>までで将棋をpythonの上から動かすことはできて、CUIとしてコンソールからでも動かせますが、このままでは対戦ができません。<br>

          せっかく作ったのにいちいち文字列を入力しながら対戦したくない<br>

          そこで今回は「将棋所」というGUIアプリとpythonを繋げてCUIを卒業しましょう<br>

          <br>では、やっていきましょうか<br>
          <h1>将棋所のセットアップ</h1>

          <br>まずは、将棋所の本体をインストールしましょう<br>
          <a href="http://shogidokoro.starfree.jp/download.html">将棋所のページ</a>
          <br>
          上のページの「ダウンロード」から、インストールしましょう！

          <h2>注意！</h2>
          将棋所は.exeファイルです<br>
          つまる所、windows上でしか動きません<br>
          なのでmacユーザーの人は<br>
          <ol>
              <li>virtual boxをインストールする</li>
              <li>ubuntuをインストールする</li>
              <li>ubuntuを立ち上げる</li>
              <li><a href="https://text.baldanders.info/remark/2019/04/mono-in-ubuntu/">こちら</a>からmonoというwindowsアプリを他osで動かすアプリを入れる</li>
              <li>(書くの疲れた。やっぱwindows買ってくれ)</li>
              <li><a href="http://shogidokoro.starfree.jp/download.html">将棋所のページ</a>からダウンロード</li>
              <li>ダウンロードフォルダに行き<br>unzip Shogidokoro</li>
              <li>[mono Shogidokoro.exe]を実行</li>

              
            </ol>


            <img src="{% static 'program/page6/スクリーンショット 2020-01-10 12.54.13.png'%}"width="100%">
            <br>p2pから<br>
            <img src="{% static 'program/page6/スクリーンショット 2020-01-10 13.13.21.png'%}"width="100%">
            
            <br>OKを押して<br>
            <img src="{% static 'program/page6/スクリーンショット 2020-01-10 13.13.33.png'%}"width="100%">
            <br>ここでのIPアドレスを覚えておきましょう！<br>
            <br>
            という感じで将棋所を準備。

        
            <br>インストールできた人はここまで操作しておきましょう。<br>

        <br>ここからは、pythonを動かすための準備です<br>
        <h1>Pythonで将棋所を動かすセットアップ</h1>


          <br>まずは次のコマンド<br>
          git clone https://github.com/gunyarakun/python-shogi.git
          <br>を実行してshogiというpythonらイブラリーをインストールしましょう<br>

          そして次の２つのコードを同じ階層に置いておく<br>

          <script src="https://gist.github.com/MineOwl/37a498b6e32ba8f0b254aa72db67c260.js"></script>
          <br>少し解説すると<br>
          board.legal_moves<br>
          は将棋のルール上動かすことが可能な全てのMoveオブジェクトのIteroterです<br>
          その中からrandom.choiceでランダムに手を選んで動かします<br>
          <br>
          <br>
          次は通信を担うコードです。
          <script src="https://gist.github.com/MineOwl/55f8265301f47e246f5aa73d08b3b3c8.js"></script>

          Battle.pyの9行目<br>
          [specific ip adress]はさっきメモしたipアドレスにしてください！<br>
          pythonと将棋所の通信に使います！<br>

          <br>いざ実行<br>
          python Battle.py<br>

          <img src="{% static 'program/page6/スクリーンショット 2020-01-10 21.44.14.png'%}"width="100%">
            

          </p>
          </div>
