<head>
    <title>忍野メメ　猫物語黒　名言集</title>

    <meta name="description" content="
    「怪異ってのは言うなら人間の信仰でできているからねぇ」
    「人間の信仰？」
    「そう、人間がそこにあると思うからあるものーーそれが怪異だ。「幽霊の正体見たり枯れ尾花」とは言うけれど、正体を見る前までは、枯れ尾花は幽霊だったと言うわけさ」
    ">

</head>


<div class="align-center">


前回<br>

<a href="./oshino-nadekosunake.html">忍野メメ　名言　in なでこスネイク</a>
<br>
<br>
<br>
<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=mineamazon-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=406283748X&linkId=9638227eda303c78b9f0ddf10649c053&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
</iframe>
<br>
<br>
<br>


<p>

    この物語の主役は「羽川翼」という完全無欠の少女です<br>
    彼女の特性を一言で表すとすると「優秀」<br>
    成績は優秀で家庭科や体育を含めた5教科7科目で常にほとんど満点<br>
    人徳もあり、自分に厳しく他人に優しい。その甲斐あって学校の学級委員長を務める<br>
    <br>
    ここまで聞くと、よくあるアニメや漫画の登場人物のように思えますが<br>
    この物語シリーズ。言葉選びやアニメでの作画のクオリティも含めてとてもリアルです<br>
    <br>
    現実の世界で、人徳があり、誰にでも優しく、笑顔を絶やさない。その上成績優秀な人間はかなり特殊
    <br>
    <br>
    そんな彼女は物語の途中、障り猫と呼ばれる怪異に取り憑かれてしまいます<br>
    彼女にまつわる問題を解決する上で忍野はどのような感想を抱いたのか？<br>
    今回の忍野の名言集からは彼女への評価が見受けられるでしょう<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
</p>





<p>
    <h4>
        「怪異ってのは言うなら人間の信仰でできているからねぇ」<br>
        「人間の信仰？」<br>
        「そう、人間がそこにあると思うからあるものーーそれが怪異だ。「幽霊の正体見たり枯れ尾花」とは言うけれど、正体を見る前までは、枯れ尾花は幽霊だったと言うわけさ」
        <br>
    </h4>
    主人公アララギとの物語序盤の雑談<br>
    人間は、「信じて物を見る」らしい<br>
    <br>
    出典：<a href="http://kotowaza-allguide.com/yu/yuureinosyoutai.html">http://kotowaza-allguide.com/yu/yuureinosyoutai.html</a>
    幽霊の正体見たり枯れ尾花とは、恐怖心や疑いの気持ちがあると、何でもないものまで恐ろしいものに見えることのたとえ。また、恐ろしいと思っていたものも、正体を知ると何でもなくなるということのたとえ。<br>
<br>
<br>
似ている状況<br>
出典：<a href = "http://www.kisc.meiji.ac.jp/~metapsi/psi/6-6.html">http://www.kisc.meiji.ac.jp/~metapsi/psi/6-6.html</a>
　我々は，知らず知らずのうちにステレオタイプを用いて，人物や物事を判断している。(中略)「茶髪の若者はとかく○○だ」などと，個々に確認することなしに鋳型にはめてしまうのである。<br>
    <br>
    <br>
    <hr>
</p>

<p>
    <h4>
        「さておきアララギ君、最前ちらっと話題に上がったけど、委員長ちゃんは元気かい？」
    </h4>
    唐突に話を変える忍野<br>
    「委員長ちゃん」はとは羽川翼のことで当ブログで最初に説明した完全無欠の委員長<br>
    怪異の専門家である忍野は、普段から彼女の動向を気にかけ、警戒している節があった<br>

    <br>
    <br>
    <br>
    <hr>
</p>

<p>
    <h4>
        アララギ「どうって...、別に元気だよ」<br>
        忍野「本当に？」<br>
        アララギ「...」<br>
        忍野「ふむ、なるほど言えないわけ、か」<br>
        忍野「ふぅん、じゃあ追求はしないよ、アプローチを変えよう」<br>
        忍野「アプローチを逆にしよう、言えないこと以外のことを教えておくれよ。委員長ちゃんのこと、何から何まで話せないわけでもないだろう？」
    </h4>
    この辺の手際はさすが専門家と言ったところ<br>
    人から話を引き出すテクニックを持っている<br>
    <br>
    このテクニックは実際に真似できそう<br>
    何かの情報をある人物から聞き出したいときは、言えないこと以外のことを聞いてみるのも一手<br>

    <br>
    実際に、忍野がこのセリフによってアララギから聞き出した情報によって、羽川に異変が起きていることに気づき、物語は進みます<br>
    <br>
    <br>
    <br>
    <hr>
</p>

<p>
    <h4>
        だけどアララギ君、委員長ちゃんは普通じゃないだろう。<br>
        この点についてはアララギ君と散々議論を交わしてきたところだし、これ以上言い合いはしたくないんだけどさーーあの娘はマジでやばいんだぜ
    </h4>
    羽川翼についての警戒を隠そうともしない忍野<br>
    それどころか、「ヤバいやつ」と言い切ってしまっている<br>

    <br>
    冒頭でも述べたとおり<br>
    <h5>人徳があり、誰にでも優しく、笑顔を絶やさない。その上成績優秀な人間は普通じゃない</h5>
    <br>
    <br>
    <hr>
</p>

<p>
    <h4>
そう、マッチポンプ。その通り。バタフライ効果の体現みたいな凄まじい娘だーーカオスにもほどがある、実に腕のいい演出家だ。凄まじいプロデューサーだ。<br>
車に轢かれた猫を埋めてあげたなんて、些細でありふれた、言ってしまえばハートウォーミングな日常のエピソードだって、彼女の手にかかれば天地を揺るがす大事件になりかねない
    </h4>
    ひどい言われようですね。羽川翼。まだ何もしていないのに笑<br>
    どんな些細なことでも彼女が関わるだけでおおごとになり姉ないと忍野<br>
    <br>
    ここで車に轢かれた猫の例を出したのは、アララギが今日車に轢かれた猫を羽川と一緒に埋めてあげたことを忍野に伝えたからです<br>
    
    <br>
    <br>
    <br>
    <hr>
</p>


<meta name="keywords" content="忍野メメ,猫物語黒,名言集,小説版">
{% endblock %}


<head>
    <meta name="description" content="だけどアララギ君、当たり前のことを当たり前にするってのは、選ばれし人間の領域なんだぜ。">
</head>








{% block content %}
    
<div id="content">
<h1>{{ title }}</h1>



前回<br>

<a href="./oshino-words-nekomonogatarikuro.html">{{ title }}</a>
<br>
<br>
<br>
<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=mineamazon-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=406283748X&linkId=9638227eda303c78b9f0ddf10649c053&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
</iframe>
<br>
<br>
<br>


<p>
    前回の続き、羽川の異変に気付いた忍野は、アララギを羽川の安否確認へと向かわすも、アララギは怪異に取り憑かれた羽川に返り討ちにされてしまう<br>
    満身創痍で隠れ家に帰ったアララギは、忍野から羽川へ取り憑いた怪異の話を聞き、事の重大さを理解する
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
</p>





<p>
    <h4>吸血鬼は怪異の王なんだぜーー王様、キングなんだぜ。同じエナジードレインとは言っても、ランクは違うさ。
        <br>（中略）<br>脅威というのもそれは人間にとって脅威と言うだけでーー吸血鬼にとってはただの雑魚だ
    </h4>
    羽川に取り付いた怪異、障り猫のスキル、エナジードレイン<br>
    同じエナジードレインを使う吸血鬼との実力差について忍野は語る<br>
    <br>
    アララギは障り猫のエナジードレインによって敗北してきたところだ<br>


    <br>
    <br>
    <br>
    <hr>
</p>



<p>
    <h4>委員長ちゃん（羽川）と違って心配している家族がいるんだからーー君はもう帰らなくっちゃね。アララギ君
    </h4>
    羽川には複雑な家庭の事情がある事を見え透いている忍野<br>
    <br>
    <br>
    <br>
    ちなみに虐待されている子供には以下の特徴があるそうです<br>
    <br>
    1,右手を子供の前で上げただけで(殴るそぶりではない)過剰に反応する<br>
    2,嘘をよくつく<br>
    3,体に触れられると身構えたり、嫌がる<br>
    <br>
    保育士の場合は、保護者を見ただけで虐待されているかどうかわかるそうです<br>
    1,子どもの園での様子に関心がない<br>
    2,子どもの状態についての説明がころころ変わったり、不自然<br>
    3,母親が加害者の場合には、母親自身が夫からの暴力の被害者であることがある（DV）<br>
    出典:<a href="https://www.hoiku-r.com/plus/onayami/gyakutai.html#i-5">https://www.hoiku-r.com/plus/onayami/gyakutai.html#i-5</a>
    
    <br>
    <br>
    <br>
    <hr>
</p>



<p>
    <h4>アララギ「友達が困っていたら助けるのは、当たり前だろ」<br>
        忍野「ふん、それは君の言葉じゃないな、アララギ君ーーそれこそ委員長ちゃん(羽川)の言葉だ。なんだっけ？<br>
        その人のために死ぬことができなければ、私はその人のことを友達とは呼ばないーーだっけ？<br>
        まるで三国志時代の価値観だな、委員長ちゃんは。我ら生まれた日は違えども、死ぬ時、死ぬ場所は同じであることを誓わんーーだっけ？<br>
        あの時代に生きていたら、大した武将に慣れたと思うよ」<br>
    </h4>
    この時、忍野の口癖に気付いたことがある<br>
    「それは君の言葉じゃないな」のセリフでは「アララギ君」というように名前ではなく「キミ」であり、その後に付け加えたように「アララギ君」と呼ぶ<br>
    <br>
    人間の認知的な心理で、名前で読んでもらった場合は好印象を持ちやすいというのがあるそうだ<br>
    忍野はそれを知っていて、普段は「アララギ君」とちゃんと名前で呼ぶのだろう<br>
    しかし忍野でもやはり人間的な側面もあり、今回のように若干感情が高ぶった時は少し上から目線で「君」と読ぶことが多い<br>
    そしてそれを取り繕うように、「アララギ君」と取ってつけるのである<br>
    同じようなシーンは他にもある<br>


    <br>
    <br>
    <br>
    <hr>
</p>



<p>
    <h4>
        「だけどね、アララギ君。それは無理だよ」
    </h4>
    はっきりと、アララギの（元々は羽川の）言葉を否定する忍野
    <br>
    <br>
    <br>
    <hr>
</p>



<p>
    <h4>
        委員長ちゃんのようにすることは、キミにはできない。キミだけじゃないーー僕だって、誰にだって。<br>
        委員長ちゃんのようにすることは、誰にだってできない
    </h4>
    完璧超人な能力、美貌、価値観を備えている羽川と同じことをすることは不可能だとはっきり言う<br>
    忍野の説教(説得)は続く<br>
    <br>
    <br>
    <br>
    <hr>
</p>



<p>
    <h4>
        友達が困っていたら助けるのは当たり前、確かにそうかもしれない。<br>
        だけどアララギ君、当たり前のことを当たり前にするってのは、選ばれし人間の領域なんだぜ。<br>
        キミごとき凡人や、僕ごとき凡庸には、できることじゃない。<br>
委員長ちゃんに憧れて、委員長ちゃんに報いたくくて、委員長ちゃんの真似をしようと言う気持ちは、したくなる気持ちはわかるけどーー<br>
やっちゃ駄目なことだ
    </h4>
    羽川は確かにすごいが、何か特別なことをやっているように思えない<br>
    普通のことだ<br>
    例えば、猫を見て埋めてあげると言うのは、当たり前のことかもしれない<br>
    <br>
    しかし、それを現実の人間ができるのだろうか？<br>
    虫が湧いているような死体を抱きかかえ、自分が細菌に感染するリスクもあるかもしれないのに<br>
    そのリスクをわかっているのに猫を埋めてあげる<br>
    <br>
    それができてしまうからこそ羽川は、異常であり<br>
    それができる羽川を見て周囲の凡人は劣等感を感じる<br>
    <br>
    <br>
    <br>
    <hr>
</p>



<p>
    <h4>
        あの娘はね、怪異よりも怪異だよ。化物よりも化物だ。<br>
        迂闊に真似をすれば、痛い目に合う
    </h4>
    聖人君主な羽川に対してこの悪口<br>
    そしてそこまで強い表現をしてでも、アララギを止めておきたい忍野<br>

    
    <br>
    <br>
    <br>
    <hr>
</p>



<p>
    <h4>アララギ君、キミはひょっとしたら、何か責任を感じているのかもしれない<br>
        委員長ちゃんが猫を埋めるのを止めておけば、とか、もっと話を聞いていれば、とか、そんなことを思っているのかもしれない<br>
        うん、そんなことで責任は生じないと思うけれど、悔いるべき点や反省すべき点が全くないとも思えない。<br>
        だけどさ、事態の責任がキミにあったとしても、必ずしもキミが事態を解決しなければならないとは限らないんだぜ<br>

    </h4>
    今回の事態のアララギ君の責任は一切ない上に、あったとしても解決する必要はないと忍野<br>
    犯人が必ず責任を取るように社会はできていない<br>
    例えば政治家のミスで経済が悪化しても、その責任を負うのはやっぱり一般市民だ<br>
    <br>
    <br>
    <br>
    <hr>
</p>


<p>
    <h4>
        春休み、キミが吸血鬼になった時も、キミは随分と頑張ったけどーー案外、あの時も、別に頑張らず、この廃墟にこそこそと引きこもっていても、普通に物事は解決したかもしれないぜ
    </h4>
    春休み、アララギは吸血鬼になってしまった時、羽川に助けてもらっていた。<br>
    その時アララギは吸血鬼退治の専門家達と壮絶なバトルを繰り広げ、他にもいろいろあって、現在限りなく人間に近い状態を保っている<br>
    しかしそんなことしなくても、忍野が裏で勝手に頑張って物事は片付いたかもしれない<br>
    <br>
    何れにせよ、忍野はアララギに、これ以上羽川の件に突っ込んできてほしくなく、突き放そうとしている<br>
    これから忍野がプロとして活動する際に、素人のアララギの存在は邪魔になるのだ<br>

    <br>
    <br>
    <br>
    <hr>
</p>


続く
<a href="./oshino-words-nekomonogatarikuro3.html">次のメージ「忍野メメ、名言集、猫物語黒その３」</a>




</div>






{% extends 'somo.html' %}


{% load static %}
{% block header %}


<meta name="keywords" content="忍野メメ,猫物語黒,名言集,小説版">
{% endblock %}











{% block content %}
    
<div id="content">
<h1>{{ title }}</h1>



前回<br>

<a href="./oshino-words-nekomonogatarikuro2.html">{{ title }}</a>
<br>
<br>
<br>
<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=mineamazon-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=406283748X&linkId=9638227eda303c78b9f0ddf10649c053&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
</iframe>
<br>
<br>
<br>


<p>
    怪異(障り猫)に取り憑かれた羽川を助けるために、専門家として活動を始める忍野<br>
    忍野は春休み、この世界観で最強の怪異、吸血鬼を相手取っていた<br>
    そんな彼ならば、すぐに自体は収束するだろうと思われたが、アララギはその忍野がボロボロの姿になっているところを発見する<br>
    アララギは慌てて事情を問い詰める<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
</p>





<p>
    <h4>
        アララギ「忍野・・・一体何があったんだ？」<br>
        忍野「何があったって？別に何もないさーー、ただ負けただけでね」<br>
        アララギ「ま、ーー負けたって。何に」<br>
        忍野「決まっているさ。障り猫に、ーーね」<br>

    </h4>
    20回バトルして20回ほど負けた<br>
    全敗である<br>
    <br>

忍野は本作最強の位置付けである吸血鬼から、気づかれずに心臓を抜き取った専門家<br>
もし誰かが強さランキングを作成していたとするならば、確実に上位には入っているであろう強キャラ<br>
その忍野が負けたというだけで、事態の深刻さを物語っている<br>
<br>

    <br>
    <br>
    <br>
    <hr>
</p>


<p>
    <h4>
        アララギ「そーーそこまでの怪異なのかよ。障り猫って」<br>
        アララギ「専門家のお前さえも圧倒するほどのーー」<br>
        忍野「いや、そんなことはないよ」<br>
        忍野「この間もちらっと言ったけどさ。アララギ君が襲われた吸血鬼なんかには及ぶべくもないーーつーか比べることが不遜なくらいの、そんな怪異だ」<br>
        
    </h4>
    この物語シリーズの最強は吸血鬼で、それは第1章ですでに語られています(傷物語)
    <br>
    <br>
    <br>
    <hr>
</p>



<p>
    <h4>
        専門家の僕の価値観で言わせてもらえば、朝飯前で祓える怪異だよ。<br>
        否、専門家が出るまでもない、素人でも知恵の振り絞り用では祓える類の、実はそんな程度の怪異だ<br>
        
    </h4>
    <br>
    <br>
    <br>
    <hr>
</p>



<p>
    <h4>
        「もちろん」<br>
        「僕はだからといって手を抜たりはしなかったよ<br>
        本気で挑んだ。<br>
        後でチャラになっているとはいえーー委員長ちゃんには春休みに借りがあるくらいの気持ちが、僕にはあるからね。<br>
        そこで変に気遣いはしなかった」<br>
        <br>
        「だけど負けた」
    </h4>

    春休みにアララギが吸血鬼に襲われた際に、羽川は忍野の不注意のせいで命の危機にさらされた。<br>
    忍野はそのことをプロとして仕事を全うできなかったと感じている場面があった<br>
    春休みの借りとはそのこと<br>
    
    <br>
    <br>
    <br>
    <hr>
</p>



<p>
    <h4>
        「障り猫は雑魚だ」<br>
        「路上で死んだふりをして、同情して寄ってきた人間の体に取り憑く。入れ替わり系のお化け。体をのっとるタイプの怪異。
        そして貧乏神のごとく、体の持ち主を、本体を不幸のどん底へ叩き落とす<br>
        そういうーーまぁ、言ってしまえばよくあるテンプレート系の怪異なんだよ」
    </h4>
    疫病神だな<br>
    <br>
    ここで疫病神の語源について<br>
    「疫病」は「えきびょう」ともいい感染症（伝染病）のこと。<br>
    実は日本には、それを治す専門医的な神様はいない。<br>
    おそらく「伝染病治します」という看板をかかげても、ちっとも伝染病の猛威が収まらないので信用を失ってしまう<br>
    そういうわけで昔の人々は、感染症が拡大すると、総合職的な自信なさげな神様に治癒を祈願する<br>
    <a href="https://www.fleapedia.com/%E4%BA%94%E5%8D%81%E9%9F%B3%E3%82%A4%E3%83%B3%E3%83%87%E3%83%83%E3%82%AF%E3%82%B9/%E3%82%84/%E7%96%AB%E7%97%85%E7%A5%9E%E3%81%A8%E3%81%AF-%E6%84%8F%E5%91%B3/">出典</a>
    <br>
    <br>
    <br>
    <hr>
</p>



<p>
    <h4>
        「そうーーだけど、委員長ちゃんだ」<br>
        「取り憑かれたのが委員長ちゃんだっていうのが、この場合はありえないほどのイレギュラーだ。
        本来雑魚にすぎなかった障り猫を、ほとんど最強に近いーー下手をすれば吸血鬼に匹敵するクラスの怪異にまで、引っ張り上げている」
    </h4>
    「物は使いよう」でしょうか<br>
    あるいは「馬鹿と鋏は使いよう」<br>
    意味：人を使うときは、その人の能力をいかせるように、うまく使うべきであるという教え。<br>

    出典：<a href="http://kotowaza-allguide.com/ha/bakatohasami.html">http://kotowaza-allguide.com/ha/bakatohasami.html</a>
    <br>

    <br>
    ちなみに筆者は、こういう「雑魚なはずなのに持ち主によって最強になっちゃった」的なキャラが大好きです（かっこいいから）
    <br>

    <br>
    <br>
    <hr>
</p>



<p>
    <h4>
        「肉体を共有していることよりも、知識を共有していることがまずいね。
        僕の知ってる古式ゆかしい怪異対策が、方法が、物の見事に全て跳ね返されてしまう。
        専門家ばりの専門知識を、あの子は持ち合わせている。
        あの子はーーなんでも知ってるよ。
    </h4>
    羽川は優等生で五教科七科目はほとんど満点だが、その知識量は学校の範囲を超えている<br>
    例えば原作では、スペイン語は日常会話しかできないと述べていた<br>
    専門家と同じ知識を高校生の時点で備えている羽川。<br>
    <br>
    
    ちなみにこの、「なんでも知っている」は後に出てくる忍野メメの大学時代の先輩、臥煙伊豆子の口癖でもあります<br>

    <br>
    <br>
    <hr>
</p>

続く
<a href="./oshino-words-nekomonogatarikuro4.html">次のメージ「忍野メメ、名言集、猫物語黒その４」</a>


</div>




前回<br>

<a href="./oshino-words-nekomonogatarikuro3.html">{{ title }}</a>
<br>
<br>
<br>
<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=mineamazon-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=406283748X&linkId=9638227eda303c78b9f0ddf10649c053&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr">
</iframe>
<br>
<br>
<br>


<p>
    障り猫の判例<br>
    以下はアララギの回想<br>
    <br>
    「路上で白い猫が死んでいる。<br>
    そんな猫を可哀想に思いーー道ゆく男の一人が、猫を手に取り、<br>
    触り<br>
    場所を変えて土に埋めて、手を合わせてやったという<br>
    <br>
    その夜から、善良なる男の奇行が始まる<br>
    酒を飲むは人を殴るわの大騒ぎ<br>
    あの猫の仕業だ、と周囲の人は怯え、たまらず祈祷師を呼んで、取り付いた猫を取り払おうとするけれど、<br>
    ここからがオチ<br>
    障り猫の真骨頂<br>
    善良なる彼には、元々猫なんて取り付いていなかったというーー<br>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
</p>





<p>
    <h4>
        「不条理落ちというか、びっくり落ちというか、これはいささか教訓じみた怪異譚でね。
        善良なだけの人間なんて存在するはずがなく、優しさなんてのはとどのつまりは上っ面の上澄みに過ぎない。
        必ずその裏があるーー光があれば闇があり、白があれば黒がある。
        猫はただのきっかけに過ぎない。<br>
        恩知らずな猫という話だけでなく、人間の裏側を見透かすようなエピソードなんだ
    </h4>
    

    <br>
    <br>
    <br>
    <hr>
</p>






</div>












