
<head>
    <title> {{ title }}</title>

        {% block meta %}
        <meta name="twitter:card" content="summary_large_image" /> <!--①-->
        <meta name="twitter:site" content="@matuki_no_ukiwa" /> <!--②-->
        <meta property="og:url" content="http://www.minekawada.com/psy-move-people.html" /> <!--③-->
        <meta property="og:title" content="〜人を動かす:アンドリュー・カーネギー〜" /> <!--④-->
        <meta property="og:description" content="このおっさんが誰か知っている人はいますか？知ってなくてもわかりますよね？" /> <!--⑤-->
        <meta property="og:image" content="http://www.minekawada.com/static/Real/kanegy.jpg" /> <!--⑥-->
        {% endblock %}
      </head>
      
      
      {% endblock %}







      

      {% block content %}
    
<div id="content">
    
<h1>
    読書感想文　〜人を動かす:アンドリュー・カーネギー〜
</h1>

<h3>はじめに〜このページを開いた諸君〜</h3>
<img width="100%" src="{% static 'Real/kanegy.jpg' %}">

みなさんこのお方をご存知でしょうか?
<br>
正解は下へ...<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
この人物がタイトルにいる「アンドリュー・カーネギー〜」<br>
ではないです<br>

騙されてもまだこのページを開き続けている根気良い読者のためにもう少し丁寧に<br>
<br>
なぜ周囲の情報に流されるのか?
<br>
それは流されるのがとても楽だからです<br>
周囲の流れに背いて他の人と違うことをすることはエネルギーを必要とします<br>
<br>
これは基本的な心理学的な知識で覚えておいて損はないです<br>
<h3>人間にとって変化は良くも悪くもストレスになります</h3>


<br>
例えば<br>
新学期が始まって不登校になってしまう子供の話をよく聞きます<br>
一人暮らしを始めて疲れが溜まっている人もいるでしょう<br>
これらは、専門的には移行不安と呼ばれます<br>
<br>
話を戻すと、「このページは心理学のページだから、心理学の範囲から話が変化する訳が無い」<br>
と無意識に考えているのですね<br>
これは覚えていて損はないです<br>
<h3>人間にとって変化は良くも悪くもストレスになります</h3>

以下は本を読んで印象に残った文を忘れないためのメモ書きです。<br>
この本には受け付けられない「変化」もあるでしょうが、それこそが真実にたどり着く道である可能性もあります<br>

<br>
<br>
<br>
<hr>

以下は本を読んで印象に残った文を忘れないためのメモ書きです。
<br>

<h1>第1章、盗人にも五分の理を認める
</h1>
<ol>
<li><p>
    「おれは働き盛りの大半を、世のため人のためにつくしてきた。
    ところが、どうだ…おれの得たものは、冷たい世間の非難と、お尋ね者の烙印だけだ」
    アルカポネほどの極悪人でも、自分で悪だと思っていなかった。
</p>
</li>

<li>
    <p>
    犯罪者は大抵、自分の悪事に「もっともらしい」理由をつけて正当化し、刑務所に入り込んでいるのは不当だと考えている。
</p>
</li>

<li>
    <p>
        ヘルメットってのは、あまり「心地いい物じゃない」んだよ、ねぇ。
        おまけにサイズが合っていなかったりすると、「たまったもんじゃない」
        「君のは、サイズ、合っているかな？」
    </p>
</li>

<li>
    <p>
        なんとか自分の立場を正当化させよう
    </p>
</li>
<li>
    <p>
        「ああする以外に、方法はなかった」
    </p>
</li>

<li>
    <p>
        「もしも私がゲティスバーグの戦線にいて、この一週間彼がみていただけのおびただしい数の流血を目の当たりにしてきたのならば...」
    </p>
</li>

<li>
    <p>
        相手を論理の動物だと思わない。
    </p>
</li>

<li>
    <p>
        相手は「感情の動物」であり、しかも「偏見」に満ち、「虚栄心」と「自尊心」によって行動する。
    </p>
</li>

<li>
    <h2>
        人の悪口は言わず、長所を褒めること
    </h2>
</li>

<li>
    <p>
        どうゆうわけで、相手がしでかすに至ったかを考えようではないか、
        そのほうが得策であり、面白くもある。
    </p>
</li>
</ol>




<h1>第2章、重要感を持たせる</h1>

<ol>
    <li>
        <p>
            「相手の自己評価に合うことをぴったり言ってやること」
        </p>
    </li>

    <li>
        <p>
            私の学ぶべき点があるという点で、大抵の人間は私より優れてる
        </p>
    </li>

    <li>
        <p>
            誠実な関心を寄せる
        </p>
    </li>

    <li>
        <p>
            そうかー、ちなみにどこまでできたんんだい？
            へぇー、でもそしたらあとは、ーーーすればいいってことなんだよね！

        </p>
    </li>
</ol>


<h1>第3章、人の立場に身を置く</h1>

<ol>
    <li>
        <p>
            人が達成したいものを察して、それを手に入れる方法を教えてやること。
        </p>
        <p>
            =>その人の「自己重要感を高める方法」を教えてやること。
        </p>
    <li>
        <p>
            相手の立場に身を置き、その心の中の要求を満たし、その要求が自分の要求通りになること。
        </p>


        <p>
            相手の「真の」要求を満たし、その要求が自分の要求通りになること。
        </p>

        <p>
            そのためには第３者に関する嘘をついても良い
        </p>

        </li>
        <li>
        <p>
         「母さんの言うとおりに食べれば、今にあの子よりも強くなるよ」
        </p>
    </li>
</ol>

</div>



